#timeline
  %ol
    = working_version_node
    - @page.versions.collect do |version|
      %li{:id => "version-#{version.number}"}
        = version_icon(version)
        = version_tooltip(version)
        = marker_for_version(version)