%h1 History

%table#versions.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
  %thead
    %tr
      %th Version
      %th Content
      %th User
      %th Time
  %tbody
    - @versions.each do |version|
      %tr
        %td= link_to "Version #{version.number}", admin_version_path(version)
        %td
          = version.versionable_type
          &mdash;
          - if version.instance.is_a?(Page)
            = link_to version.instance.title, edit_admin_page_path(version.instance)
          - else
            = link_to version.instance.title, polymorphic_path([:edit, :admin, version.instance])
        %td= version.instance.updated_by ? version.instance.updated_by.name : ""
        %td= version.created_at

= will_paginate @versions