%h1 History

%table#versions.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0"}
  %thead
    %tr
      %th Version
      %th Page
      %th User
      %th Time
  %tbody
    - @versions.each do |version|
      %tr
        %td= link_to "Version #{version.number}", admin_version_path(version)
        %td
          = version.versionable_type
          &mdash;
          = link_to version.instance.title, polymorphic_path([:edit, :admin, version.instance.becomes(version.instance.class.base_class)])
        %td= version.instance.updated_by ? version.instance.updated_by.name : ""
        %td= version.created_at

= will_paginate @versions