= render :partial => 'admin/timeline'
%h1
  == Version #{@version.number}
  of
  = link_to @version.instance.title, polymorphic_path([:edit, :admin, @version.instance.becomes(@version.instance.class.base_class)])
= render :partial => "admin/#{@version.versionable_type.downcase.pluralize}/diff", :locals => {:version => @version}